body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #89B6FA;
  max-width: 37%;
  margin: auto;
  text-align: center;
}

.namecard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.h1 {
  color: #252525;
  font: Lato;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subheading {
  color: #26235C;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bodyText {
  color: #252525;
  font-size: 20px;
}

.email {
  background-color: #26235C;
  color: white;
  font-size: 20px;
}